# python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
venv/
.env

# SQLite DB
*.db
*.db-shm
*.db-wal

# docker
# cache e dati temporanei docker
*.pid
*.log
*.tar
*.sock
.docker/
docker-compose.override.yml

# Docker volumes e cache
storage/
data/
temp/
.cache/

# Config temporanei
.DS_Store